name: Fetch-AWS-DATA

# Trigger deployment only on push to master branch
on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Fetch data from AWS Secret Manager
    runs-on: ubuntu-latest

    # These permissions are needed to interact with GitHub's OIDC Token endpoint.
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout the files
        uses: actions/checkout@v2

      - name: Configure AWS credentials from Test account
        uses: aws-actions/configure-aws-credentials@v1
        with:
          # role-to-assume: arn:aws:iam::111111111111:role/my-github-actions-role-test
          aws-access-key-id: AKIA6FM7NRHRF5C6COFV
          aws-secret-access-key: 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
          aws-region: us-east-1

      - name: Read secrets from AWS Secrets Manager into environment variables
        uses: abhilash1in/aws-secrets-manager-action@v2.1.0
        with:
          secrets: TEST_SECRET_DATA
          parse-json: true

      - name: Check if env variable is set after fetching secrets
        run: if [ -z ${TEST_SECRET_DATA+x} ]; then echo "TEST_SECRET_DATA is unset"; else echo "TEST_SECRET_DATA is set to '$TEST_SECRET_DATA'"; fi

      # Trying another action
      - name: Retrieve Secrets
        id: secrets
        uses: t-botz/aws-secrets-manager-read-action@v2
        with:
          secret-id: TEST_SECRET_DATA
          mask-json-values: true
          keys-as-env-vars: true
          keys-as-outputs: true
          append-to-env-file: ./.env

      - name: Use Secret
        run: |
          # Will actually display '***' as secret will be masked in output
          echo "${{ fromJSON(steps.secrets.outputs.secret).TEST_SECRET_DATA }}"

          # Same result thanks to `keys-as-outputs: true`
          echo "${{ steps.secrets.outputs.TEST_SECRET_DATA }}"

          # Same result thanks to `keys-as-env-vars: true`
          echo "$TEST_SECRET_DATA"

          # Show secret from env file
          cat ./.env

      - name: Store ENV from AWS SecretManager
        uses: say8425/aws-secrets-manager-actions@v1
        with:
          AWS_ACCESS_KEY_ID: AKIA6FM7NRHRF5C6COFV
          AWS_SECRET_ACCESS_KEY: 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
          AWS_DEFAULT_REGION: us-east-1
          SECRET_NAME: TEST_SECRET_DATA
          OUTPUT_PATH: ".env" # optional
          ACTIONS_ALLOW_UNSECURE_COMMANDS: true
          EXPORT_TO_ENV: true
